body {
	background: url(../Imagenes/Fondo/fondo.jpg) no-repeat center center fixed ;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
	
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    .c{
      background-color:#2175bc;
      padding-bottom: 32px;
      top: -9px;
      left: 9;
      padding-right: 55px;
      float: auto;
  }
  #menu {
      padding: 0;
  }
  #menu li {
      display: inline;
  }
  
  #menu li a {
      font-family: Arial;
      font-size: 11px;
      text-decoration: none;
      float: left;
      padding: 10px;
      background-color: #2175bc;
      color: #fff;
  }
p{
    color: rgb(0, 0, 0);
    font-size: 150%;
    
    
}
.text{
      
      position: relative;
      top: 50px;
}
.text p{
    text-align: center;
    color: blue;
    


}

